.addonMultiFormElement {
	display: inline-block;
	margin: 0.25em;
	width: calc(50% - 0.5em);
}
.addonMultiFormElement input {
	padding-left: 0.5em;
	width: 100%;
}
.addonMultiFormElement label {
	display: block;
}
.addonMultiFormElement .button {
	height: 35px;
	line-height: 1;
}
.quantity .qty {
	display: none;
}